<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_app"
        android:supportsRtl="true"
        android:theme="@style/Theme.EZCook"
        tools:targetApi="31">
        <service
            android:name=".fcm.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LoginActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".SignupActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">
        </activity>

        <activity
            android:name=".adapter.h_MyViewPagerMain_adapter"
            android:exported="true">
        </activity>
        <activity
            android:name=".fragment.HomeFragment"
            android:exported="true">
        </activity>
        <activity
            android:name=".fragment.TrendFragment"
            android:exported="true">
        </activity>
        <activity
            android:name=".fragment.PostFragment"
            android:exported="true">
        </activity>

        <activity
            android:name=".fragment.FavoriteFragment"
            android:exported="true">
        </activity>
        <activity
            android:name=".fragment.ProfileFragment"
            android:exported="true">
        </activity>
        <activity
            android:name=".model.h_category_regime_eat_model"
            android:exported="true">
        </activity>
        <activity
            android:name=".adapter.h_category_regime_eat_adapter"
            android:exported="true">
        </activity>
        <activity
            android:name=".model.h_category_suggest_model"
            android:exported="true">
        </activity>
        <activity
            android:name=".adapter.h_category_suggest_adapter"
            android:exported="true">
        </activity>

        <activity
            android:name=".h_SearchActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".model.h_category_food_model"
            android:exported="true">
        </activity>
        <activity
            android:name=".adapter.h_category_food_adapter"
            android:exported="true">
        </activity>

        <activity
            android:name=".f_CreateActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".model.f_Like_model"
            android:exported="true">
        </activity>
        <activity
            android:name=".fragment.f_LikeFragment"
            android:exported="true">
        </activity>
        <activity
            android:name=".adapter.f_LikeAdapter"
            android:exported="true">
        </activity>
        <activity
            android:name=".model.f_Save_model"
            android:exported="true">
        </activity>
        <activity
            android:name=".adapter.f_SaveAdapter"
            android:exported="true">
        </activity>
        <activity
            android:name=".fragment.f_SaveFragment"
            android:exported="true">
        </activity>
        <activity
            android:name=".model.f_Collection_model"
            android:exported="true">
        </activity>
        <activity
            android:name=".adapter.f_CollectionAdapter"
            android:exported="true">
        </activity>
        <activity
            android:name=".fragment.f_CollectionFragment"
            android:exported="true">
        </activity>
        <activity
            android:name=".adapter.f_ViewPagerAdapterFavorite_adapter"
            android:exported="true">
        </activity>

        <activity
            android:name=".p_SettingUserActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".p_SettingActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".p_AuthorActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".f_StepCookActivity"
            android:exported="true">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>

        <activity
            android:name=".model.f_ingredient_detail"
            android:exported="true">
        </activity>

        <activity
            android:name=".adapter.f_IngredientAdapter_detail"
            android:exported="true">
        </activity>



        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>